# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/
._*
.Spotlight-V100/
.Trashes/
.DocumentRevisions-V100/
fseventsd/
.AppleDB
.AppleDesktop
.AppleDouble
.apdisk

# Thumbnails / Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# zsh (shell caches/history)
.zcompdump*
.zsh_history

# Optional: IDEs / editors (uncomment if needed)
# .idea/
# .vscode/
# *.swp
f.sh